body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

.container {

  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #07412a33;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}