.button,
.action-button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 8.5px 2rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
}

.button:hover,
.action-button:hover {
  background-color: #ddd;
  border: 1px solid #aaa;
}

.new-user {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

}

.new-user:hover {
  background-color: #0056b3;
}

.create-user {
  display: flex;
  margin-bottom: 5px;

}