.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}

#search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#search-button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

#search-button:hover {
  background-color: #0056b3;
}